#root {
  margin: 0 auto;
  text-align: center;
  background-color: #D8DFE8;

}
.Alerta{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 90%;
  }

.Contenedor_Texto{
  flex-direction: column;
  display: flex;
  font-size: 200%;
  flex: 2;
  background-color: red;
  border-color: black;
  border-radius: 10%;
  height: 55rem;
}
.Contenedor_Texto p{

}

.Alerta p{
  display: flex;
  padding-left: 1rem;

}
.Alerta img{
  width: 2rem;
  height: 2rem;
  align-items: center;
}
.Botones{
  display: flex;
  
  justify-content: center;
  gap: 2rem
}

.Botones button {
  flex: 1;
  font-size: 105%;
  color: white;
  width: 15rem;
  height: 3rem;
  border-radius: 15%;
  background-color: #0A3871;
}

.Logo {
  display: flex;
  height: 5em;
  width: 50rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.ContenedorRespuesta{
  display: flex;
  flex: 0.5;
  flex-direction: column;
  background-color: #F3F5FC;
  justify-content: center;
  height: 50rem;
}
.Contenedor_Entrante{
  display: flex;
  flex: 1.5;
  flex-direction: column;
}

.ContenedorRespuesta img{
  width: 10em;
}

.Contenedor_Cuerpo{
  display: flex;
}